<?xml version="1.0"?>
<config>
  <modules>
    <Webtise_Absolutepearls>
      <version>1.0.0</version>
    </Webtise_Absolutepearls>
  </modules>
  <global>
  	 <models>
            <absolutepearls>
                <class>Webtise_Absolutepearls_Model</class>
                <resourceModel>absolutepearls_mysql4</resourceModel>
            </absolutepearls>
            <absolutepearls_mysql4>
                <class>Webtise_Absolutepearls_Model_Mysql4</class>
            </absolutepearls_mysql4>
  	 </models>
  	  <resources>
            <absolutepearls_setup>
                <setup>
                    <module>Webtise_Absolutepearls</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </absolutepearls_setup>
            
            <absolutepearls_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </absolutepearls_write>
            
            <absolutepearls_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </absolutepearls_read>
        </resources>
         <blocks>
            <absolutepearls>
                <class>Webtise_Absolutepearls_Block</class>
            </absolutepearls>
         </blocks>
    <page>
      <layouts>
        <Webtise_Absolutepearls_home translate="label">
          <label>Home</label>
          <template>page/home.phtml</template>
          <layout_handle>home</layout_handle>
        </Webtise_Absolutepearls_home>
        <!-- add more layouts here -->
      </layouts>
    </page>
  </global>
</config>