<?xml version="1.0"?>
<config>
  <modules>
    <Webtise_Absolutepearls>
      <version>1.0.5</version>
    </Webtise_Absolutepearls>
  </modules>
  <global>
  	<helpers>
  		<absolutepearls>
                <class>Webtise_Absolutepearls_Helper</class>
        </absolutepearls>
  	</helpers>
  	 <models>
            <absolutepearls>
                <class>Webtise_Absolutepearls_Model</class>
                <resourceModel>absolutepearls_mysql4</resourceModel>
            </absolutepearls>
            <absolutepearls_mysql4>
                <class>Webtise_Absolutepearls_Model_Mysql4</class>
                <entities>
                    <promo>
                        <table>webtise_promos</table>
                    </promo>
                </entities>
            </absolutepearls_mysql4> 
            <catalog>
	            <rewrite>
	            	<category>Webtise_Absolutepearls_Model_Catalog_Category</category>
	            </rewrite>
            </catalog> 
            <catalog_resource>
            	<rewrite>
	            	<category>Webtise_Absolutepearls_Model_Catalog_Resource_Category</category>
	            </rewrite>
            </catalog_resource>       
  	 </models>
  	  <resources>
           <absolutepearls_setup>
                <setup>
                    <module>Webtise_Absolutepearls</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </absolutepearls_setup>
            
            <absolutepearls_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </absolutepearls_write>
            
            <absolutepearls_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </absolutepearls_read>
        </resources>
         <blocks>
            <absolutepearls>
                <class>Webtise_Absolutepearls_Block</class>
            </absolutepearls>
         </blocks>
    <page>
      <layouts>
        <Webtise_Absolutepearls_home translate="label">
          <label>Home</label>
          <template>page/home.phtml</template>
          <layout_handle>home</layout_handle>
        </Webtise_Absolutepearls_home>
        <!-- add more layouts here -->
      </layouts>
    </page>
  </global>
   <admin>
        <routers>
			<promos>
				<use>admin</use>
				<args>
					<module>Webtise_Absolutepearls</module>
					<frontName>promos</frontName>
				</args>
			</promos>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<cms>
				<children>
				 <absolutepearls_promo module="cms">
				  <title>Promos</title>
					<sort_order>71</sort_order>     
					<action>promos/adminhtml_promos</action>  
				  </absolutepearls_promo>        
				</children>
			</cms>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Webtise_Absolutepearls>
							<title>Promos Module</title>
							<sort_order>10</sort_order>
						</Webtise_Absolutepearls>
						<system>
	                        <children>
	                            <config>
	                                <children>
	                                    <absolutepearls>
	                                        <title>Inchoo - All</title>
	                                    </absolutepearls>
	                                </children>
	                            </config>
	                        </children>
	                    </system>
					</children>
					
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<promos>
					<file>promos.xml</file>
				</promos>
			</updates>
		</layout>
    </adminhtml>     
</config>