.checkout-onepage-index {
	.button{
		text-transform: uppercase;
		padding:8px 30px;
		font-size: 1.2em;
		font-weight: 200;
	}
	.page-title{
		margin-bottom: 20px;
	}
	
	.col-main{
		width:100%;
		
		@include respond-to(tablet){
			@include col(75%,0px, 10px);
		}
	}
	.col-right{
		display:none;
		
		@include respond-to(tablet){
			display: block;
			@include col(25%,10px, 0px);
		}
	}
	#checkoutSteps{
		list-style: none;
		
		
		
		li{
			list-style: none;
			clear:both;
		}
	}
	
	.step-title{
		border: 1px solid $light-grey;
		padding:5px 20px;
		width:100%;
		background: $bg-grey;
		h2{
			font-family: $sans-serif;
			font-size: 1em;
			display: inline-block;
			text-transform: uppercase;
		}
		a{
			display: none;
		}
	}
	.step{
		border-left:1px solid $light-grey;
		border-right:1px solid $light-grey;
		padding:20px;
	}
	
	.step:after{
		content:"";
		display: block;
		clear:both;
	}
	
	
	
	.allow{
		cursor: pointer;
	}
	
	.col-1{
		@include respond-to(tablet){
			display: block;
			@include col(45%,0px, 0px);
		}
		
		h3{
			text-transform: uppercase;
			font-family: $sans-serif;
			font-size: 0.9em;
			margin-bottom: 20px;
		}
		
		

	}
	
	#login-form{
		.form-list{
			width:50%;
		}
	}
	
	#billing-new-address-form, #checkout-step-billing{
		.form-list{
			width: 50%;
			padding:0px 15px;
		}
		
		.control{
			background: $bg-grey;
			padding:10px;
			margin:0px 0px 10px 0px;
			
		}
		input[type=checkbox] + label,input[type=radio] + label{
			margin: 0px;
		}
		
		.buttons-set{
			padding:15px;
			.button{
				text-transform: uppercase;
			}
		}
		
	}
		
	.col-2{
		@include respond-to(tablet){
			display: block;
			border-left:1px solid $light-grey;
			@include col(50%,30px, 0px);
		}
		
		h3{
			text-transform: uppercase;
			font-family: $sans-serif;
			font-size: 0.9em;
			margin-bottom: 20px;
		}
	}
	
	.remember-me-popup{
		display: none;
	}
	
	.forgot-password-link{
		font-size: 0.8em;
		display: inline-block;
		padding:0px 10px;
		line-height: 2.6em;
	}
	
}

