.account-login{
	padding:0px 10px;
	li{
		list-style: none;
	}
	
	.content{
		border: 1px solid $light-grey;
	}
	
	.page-title{
		margin-bottom: 25px; 
		text-transform: uppercase;
	}
	
	h2{
	    font-size: 0.9em;
	    text-transform: uppercase;
	    font-family: $sans-serif;
	    width: 100%;
	    padding:10px 25px;	
	    border-bottom: 1px solid $light-grey;
	    background: $bg-grey;
	}
	
	
	
	
	.button{
		text-transform: uppercase;
		padding:10px 20px;
	}
	
	button.button{
		text-transform: uppercase;
		padding:10px 40px
	}
	
	input{
		font-size: 1em;
		border:1px solid $light-grey;
	}
	
	.login{
		@include respond-to(tablet){
			@include col(50%,0px ,10px)
		}
		
		form{
			padding:40px 25px 86px;
			
			.form-list{
				width:80%
			}
			
			
			.forgot-password-link{
				font-size: 0.8em;
				display: inline-block;
				margin:10px 10px ;
				text-decoration: underline;
			}
		}
	}
	.register{
	   margin-top:25px;
	
		@include respond-to(tablet){
		    margin-top:0px;
	
			@include col(50%,10px ,0px)
		}
		
		.register-account{
			padding:40px 25px 80px;
		}
		
		.benefits{
			padding:0px 25px 10px;
			li{
				list-style: disc;
				padding:5px;
			}
		}
	}
}

.account-create{
	padding:0px 10px;
	.page-title{
		margin-bottom: 25px; 
		text-transform: uppercase;
	}
	
	h2{
	    font-size: 0.9em;
	    text-transform: uppercase;
	    font-family: $sans-serif;
	    width: 100%;
	    padding:10px 25px;	
	    border-bottom: 1px solid $light-grey;
	    background: $bg-grey;
	}
	
	.content{
		@include clearfix;
		border: 1px solid $light-grey;
		margin-top:20px;
		.fieldset{
			padding:25px;
		}
		
		ul{
			list-style: none;
		}
	}
	
	.button{
		text-transform: uppercase;
		padding:10px 20px;
		
	}
	
	button.button{
		text-transform: uppercase;
		padding:10px 40px;
		margin:0px 25px 30px;
	}
	
	input{
		font-size: 1em;
		border:1px solid $light-grey;
	}
	
		
	.back-link{
		display: none;
	}
}

.box-account {
	margin:20px 0px;
	clear:both;
	.box-head {
		
		h2{
			margin-bottom:20px;
		}
	}
	
	.box-head-address{
		padding:10px 25px;	
	    border: 1px solid $light-grey;
	    background: $bg-grey;
	    position: relative;
	    width:100%;
	    margin-bottom:20px;
	    
	    h2{
		    	font-size: 0.9em;
			    text-transform: uppercase;
			    font-family: $sans-serif;
			    width: 100%;
	    }
	    
	    a{
			position: absolute;
			top:10px;
			right:40px;
		}
	}
	.col2-set{
		
		.box{
			@include respond-to(tablet){	
				@include col(50%,0px ,10px)
			}
			h3{
			   	font-size: 0.9em;
			    text-transform: uppercase;
			    font-family: $sans-serif;
			    width: 100%;
			}
			
			.box-content{
						padding:25px 0px;

			}
			
			.box-title{
				padding:10px 25px;	
			    border: 1px solid $light-grey;
			    background: $bg-grey;
				
				a{
					position: absolute;
					top:10px;
					right:40px;
				}
			}
		}
	}
	
	
}

.address{
		.col2-set{
		background: green;
		.box{
			@include respond-to(tablet){	
				@include col(50%,0px ,10px)
			}
			h3{
			   	font-size: 0.9em;
			    text-transform: uppercase;
			    font-family: $sans-serif;
			    width: 100%;
			}
			
			.box-content{
						padding:25px 0px;

			}
			
			.box-title{
				background: none;
				padding:0px;
				border: none;
				
				a{
					position:inherit;
					
				}
			}
		}
	}	
}

.my-account{
	.page-title{
		h1{
			margin-bottom: 20px;
		}
	}
	
	.legend{
		font-family: $sans-serif;
		font-size: 1.2em;
		margin-bottom: 10px;
	}
}


