html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: border-box;
  padding:0px;
  margin:0px;
}

.clear{clear:both;display: block}

@include font-face('Lato', 'Lato-Regular', 'Lato', 'sans-serif');
@include font-face('Calluna-old', 'Calluna-Regular-webfont', 'Calluna', 'serif');

$sans-serif:"Lato" sans-serif;
$serif:"Calluna" serif;

body{
	margin:0;
	padding:0;
	font-size: 14px;
	font-family: "Lato" sans-serif;
	color:$text-color;
	line-height: 1.3em;
}

h1{font-family: $serif serif;font-size:1.5em; font-weight: 300}
h2{font-family: $serif serif;font-size:1.5em; font-weight: 300}
h3{font-family: $serif serif; font-weight: 300}
h4{font-size: 0.92em; text-transform: uppercase;}
a{color:$link-color; text-decoration: none;}
p{padding-bottom: 10px}

ul{
	padding:20px;
}

.page-title{
	h1,h2,h3,h4{
		margin-bottom: 20px;
	}
}
.wrapper{
	padding:0px 0px;
	width:100%;
	@include respond-to(desktop){
		max-width:1200px;
		margin:0 auto;
		padding:0px;
	}
	
}


.col-wrapper{
	clear:both;
}

.main-container{
	@include col(100%,0px,0px);
}

.validation-failed{
	border-color: red;
}

.validation-advice{
	position: absolute;
	top:10px;
	color:$red;
	text-align:center;
}

.link-button{
	display: inline-block;
	border:1px solid $text-color;
	color: $text-color;
	font-size: 1em;
	padding:10px 40px;
	text-transform: uppercase;
}

button{
	border: 1px solid $dark-blue;
	padding: 5px 25px;
	float: left;
	display: block;
	color: white;
	background: $dark-blue;
}

.success-msg{
	background: $success-color;
	color:white;
	padding:10px;
	margin-bottom: 20px;
	
	li{
		background: url(../images/success.png) no-repeat left center;
		padding-left: 20px;
	}
}

.error-msg{
	background: $error-color;
	color:white;
	padding:10px;
	margin-bottom: 20px;
	li{
		background: url(../images/alert.png) no-repeat left center;
		padding-left: 20px;
	}

}


.col2-left-layout{
	.col-left{
		@include respond-to(tablet){
			@include col(20%,0px,10px);
		}
	}
	.col-main{
		@include respond-to(tablet){
			@include col(80%,10px, 0px);
		}
	}
}


.col-left{
	.block{
		margin-bottom: 20px;
		
		.block-title{
			background: $blue;
			color:white;
			padding:5px 10px;
			text-transform: uppercase;
			strong{
				span{
					font-family: $serif;
					font-weight: 100;
					
				}
			}
		}	
		
		.block-content{
			background: $light-grey;
			padding:20px;
			
		
			ul{
				list-style: none;
				
			}
		}
	}
}

.col2-right-layout{
	.col-main{
		@include respond-to(tablet){
			@include col(80%,10px,10px)
		}
	}
	.col-right{
		@include respond-to(tablet){
			@include col(20%,10px,10px)
		}
	}
}

.block-viewed{
	margin-bottom: 20px;
	.block-title{
		background: $blue;
		color:white;
		padding:5px 20px;
		font-family: $serif;
		text-transform: uppercase;
	}
	.block-content{
		background: $bg-grey;
		padding:20px;
	}
}

.block-compare{
	margin-bottom: 20px;
	.block-title{
		background: $blue;
		color:white;
		padding:5px 20px;
		font-family: $serif;
		text-transform: uppercase;
		
	}
	.block-content{
		background: $bg-grey;
		padding:20px;
	}
}