
.top{
	background: $blue;
	display:none;
	width:100%;
	padding:0px;
	height: 32px;
	@include respond-to(desktop){
			display:block;
	}
	.secure-msg-holder{
		
		@include respond-to(desktop){
			display:block;
			@include col(50%,10px,10px)
		}
		
		.secure-msg{
			color:white;
			text-transform: uppercase;
			font-size: 0.8em;
			padding:10px 0px 10px 20px;
			background: url(../images/truck.png) no-repeat left center;
		}
	}
	
	.account-links{
		@include respond-to(desktop){
			@include col(50%,10px,10px)
		}
		color:white;
		text-transform: uppercase;
		text-align: right;
		padding:5px 20px;
		
		a{
			color:white;
			text-transform: uppercase;
			font-size: 0.8em;
			display: inline-block; 
			padding:0px 0px 0px 10px;
		}
	}
	
}

header{
	width:100%;
	clear:both;
	.phone{
		
		width:100%;
		padding:10px;
		background: $blue;
		color:white;
		font-size:1em;
		
		@include respond-to(desktop){
			display:block;
			padding-top:30px;
			@include col(30%,20px,10px);
			background: white;
			color:$text-color;
			
		}
		
		span {
			display: inline-block;
			padding:0px 5px;
			font-size:1.2em;
			
			@include respond-to(desktop){
				padding:0px 5px 0px 0px;
				
			}
			
		}
		
		.opening-times{
			display: none;
			@include respond-to(tablet){
				display: inline-block;
				font-size:1em;
			}
		}
		
		h5{
			text-transform: uppercase;
			float:left;
			line-height: 1.5em;
			@include respond-to(desktop){
				float:none;
			}
		}
		
		.contact{
			
			background: url(../images/phone-icon.png) no-repeat 0px -4px;
			padding:0px 20px;
			
			@include respond-to(desktop){
				background: url(../images/phoneicon.png) no-repeat left top;
			}
		}
	}
	.logo-container{
		@include col(100%,10px,10px);
		@include respond-to(desktop){
			@include col(40%,10px,10px);
		}
		text-align: center;
	}
	.search-cart{
		position: relative;
		@include respond-to(desktop){
			@include col(30%,10px,10px);
			display:block;
		}
		
		#search_mini_form{
			position: relative;
			top:32px;
			right:0px;
			text-align: right;
			display:none;
			@include respond-to(desktop){
			    display:block;
		    }
			input{
				padding:5px;
				-webkit-appearance:none;
				border:1px solid $light-grey;
				height:35px;
				width:180px;
				box-sizing: border-box;
			}
			label{
				display:none;
				
			}
			button{
				background: url(../images/searchbtn.png) center center;
				border: 1px solid black;
				text-indent: -9999px;
				width:35px;
				height:35px;
				margin-left:-3px;
				line-height:2.7em;
			}
		}
		
		.header-minicart {
			position: relative;
			top:20px;
			right:0px;
			text-align: right;
			text-transform: uppercase;
			font-size: 0.8em;
			
			.skip-link{
				display: none;
				@include respond-to(desktop){
			        display:block;
		        }

			}
			
			.icon{
				background: url(../images/bag-icon.png) left bottom;
				width:20px;
				height:20px;
				display: inline-block;
				vertical-align: text-bottom;
			}
			.label{
				display: inline-block;
				padding:0px 10px;
			}
		}
		
		
		#header-cart{
			display:none;
		}
	}
	
	
	
	
}