
/* HOMEPAGE TEMPLATE  */
.cms-home {
	.main-container .wrapper{
		text-align: center;
    }
	.banner{
		margin-bottom: 15px;
		display: none;
		@include respond-to(tablet){
			display: block;
		}
		width:100%;
		img{
			max-width: 100%;
		}
	}
	.featured-products{
		h3{
			text-transform: uppercase;
			text-align: center;
		}
	}
	
	.promos{
		@include clearfix();
		padding:0px 15px;
		.left-column{
			margin-bottom:20px;
			clear:both;
			@include respond-to(tablet){
			clear:none;
				@include col(50%,0px,10px)
			}
		}
		.right-column{
			margin-bottom:20px;
			clear:both;
			
			@include respond-to(tablet){
			clear:none;
				@include col(50%,10px,0px)
			}
		}
		
		.promo-1{
			@include col(100%,0px,0px);
			img{
				max-width: 100%;
			}
		}
		.promo-2{
			@include col(50%,0px,0px);
			img{
				max-width: 100%;
			}
		}
		.promo-2:nth-child(3){
			clear:both;
		}
	}
	
	.instagram-slider{
		background: $bg-grey;
		padding:20px 100px;
		clear:both;
		position: relative;
		h3{
			text-transform: uppercase;
			margin-bottom: 20px;
			font-family: $sans-serif;
			width:178px;
			margin:0 auto;
			margin-bottom: 20px;
			
			
		}
		
		.inst-next{
			background: url(../images/right-arrow-simple.png) no-repeat;
			position: absolute;
			top:50%;
			right:40px;
			display: block;
			text-indent: -9999px;
			z-index: 100;
			width:30px;
			height:30px;
		}
		
		.inst-prev{
			background: url(../images/left-arrow-simple.png) no-repeat;
			position: absolute;
			top:50%;
			left:40px;
			display: block;
			text-indent: -9999px;
			z-index: 100;
			width:30px;
			height:30px;
		}
		
				
		ul{
			list-style: none;
			margin: 0px;
			padding:0px;
			clear:both;
			width:100%;
			margin-bottom:20px;
			li{
				display: block;
				float:left;
				width:100%;
				
				@include respond-to(tablet){
					clear:none;
					@include col(25%,10px,10px)
				}
				@include respond-to(desktop){
					clear:none;
					@include col(20%,10px,10px)
				}
				
				img{
					max-width: 100%;
				}
			}
			
			@include clearfix();
		}
		
		
	}
}

.featured_products{
	clear:both;
	display: none;
	padding:20px;
	margin-top:40px;
	width:100%;
	position: relative;
	
	@include clearfix();
	
	@include respond-to(tablet){
		display:block;
	}
	
	.next-link{
		background: url(../images/right-arrow-simple.png) no-repeat;
		position:absolute;
		top:35%;
		right:0px;
		width:12px;
		height:50px;
		display: block;
		text-indent: -9999px;
		
	}
	.prev-link{
		background: url(../images/left-arrow-simple.png) no-repeat;
		position:absolute;
		top:35%;
		left:0px;
		width:12px;
		height:50px;
		display: block;
		text-indent: -9999px;
	}
	
	h2{
		margin-bottom: 20px;
		text-transform: uppercase;
	}
	.caroufredsel_wrapper{
		padding:20px;
	}
	.products-grid{
		
		
		.item{
			
			text-align: center;
			box-sizing: border-box;
			
			@include respond-to(tablet){
			    @include col(33.3%,15px,15px)
			}
			@include respond-to(desktop){
				@include col(25%,15px,15px)
			}
			
			
			.availability{
				text-align: center;
			}
			
			.price-box{
				text-align: center;
			}
		}
		
	}
	
	
}

.underline{
	padding-top:20px;
	width:50%;
	display: block;
	margin:0 auto;
	border-bottom: 1px solid $text-color;
}

.main-content{
	clear:both;
	padding:40px 20px;
	@include respond-to(tablet){
		padding:40px 100px;
	}
	h1{
		width:100%;
		margin-top: 20px;
		padding-bottom: 20px;
		line-height: 1em;
		@include respond-to(tablet){
			width:411px;
			margin:0 auto;
			margin-top: 20px;
			line-height: 0.2em;
		}
		
	}
}