

nav.desktop{
	padding:10px 0px 0px;;
	clear:both;
	display: none;
	margin-bottom:0px;
	
	
	ol:before{
		content:"";
		clear:both;
		display: block;
	}
	ol{
		list-style: none;
		margin:0 auto;
		padding:0;
		max-width:1170px;
		display: table;
		position: relative;
		
		
		li{
			display: table-cell;
			text-align: center;
			position: relative;
			height:36px;
			
			a{
				text-transform: uppercase;
				font-size: 0.925em;
				color:$nav-color;
				display: block;
                padding: 0px 1em;
                @include respond-to(desktop-large){
	                padding: 0px 1.5em; 
                }
			}
			
			a:hover{
				color:$link-color;
				
			}
			
		
			
			ul{
				display: none;
				padding:10px 0px;
				position: absolute;
				top: 35px;
				left: 0px;
				background: white;
				border: 2px solid $light-grey;
				width: 250px;
				z-index: 999;
				text-align: left;
				
				li{
					display: inline;
					text-align: left;
					border:none;
					
					a{
						font-size: 0.925em;
						text-transform: none;
						color:$link-color;
						padding:5px 15px;
					}
					a:hover{
						background: $link-color;
						color:white;
					}
				}
			}
				

			/* creates triangle */
			ul:before {
			  content:"";
			  clear: both;
			  position:absolute;
			  bottom:-20px; /* value = - border-top-width - border-bottom-width */
			  left:40px; /* controls horizontal position */
			  border-width:20px 20px 0;
			  border-style:solid;
			  border-color:$light-grey transparent;
			  /* reduce the damage in FF3.0 */
			  display:block;
			  width:0;
			}
			
			/* creates the smaller  triangle */
			ul:after {
			  content:"";
			  position:absolute;
			  bottom:-13px; /* value = - border-top-width - border-bottom-width */
			  left:47px; /* value = (:before left) + (:before border-left) - (:after border-left) */
			  border-width:13px 13px 0;
			  border-style:solid;
			  border-color:#fff transparent;
			  /* reduce the damage in FF3.0 */
			  display:block;
			  width:0;
			}
			
			/* Variant : top
			------------------------------------------ */
			
			/* creates the larger triangle */
			ul:before {
			  top:-15px; /* value = - border-top-width - border-bottom-width */
			  bottom:auto;
			  left:auto;
			  right:168px; /* controls horizontal position */
			  border-width:0 11px 15px;
			}
			
			/* creates the smaller  triangle */
			ul:after {
			  top:-13px; /* value = - border-top-width - border-bottom-width */
			  bottom:auto;
			  left:auto;
			  right:171px; /* value = (:before right) + (:before border-right) - (:after border-right) */
			  border-width:0 8px 13px;
			}

			
			a:hover > a ul{
				display: block;
				
			}
		}
		
	    li:first {
		  text-align: left;
		} 
		
		li:last {
		  text-align: right;
		}
	}
	@include respond-to(desktop){
		display:block;
		@include col(100%,10px,10px);
	}
	
	.mobile-menu-container{
		@include respond-to(desktop){
			
		}
		ol{
			display:block;
			padding:20px 10px
		}
		li{
			display: inline;
			text-align: left;
		}

	}
}
nav.mobile:after{
	content:"";
	clear:both;
	display: block;
}
nav.mobile{
	padding:10px 0px;
	margin-bottom: 10px;
	
    @include respond-to(tablet){
	    padding:10px 0 5px 0;
	}
	clear:both;
	margin-bottom:10px;
	
	li{
		list-style: none;
		@include col(16.5%,5px,5px);
		@include respond-to(tablet){
			@include col(25%,10px,10px);
		}

	}
	a{
		display:block;
		float:left;
		border:1px solid $dark-blue;
		height:35px;
		width:100%;
		padding:5px;
		margin:0px 6px 0px 0px;
		color:$dark-blue;
		
	}
	
	.menu{
		@include col(50%,10px,5px);
		@include respond-to(tablet){
			@include col(25%,15px,15px);
		}

	}
	
	.menu a{
		padding:8px 10px 8px 40px;
		color:white;
		text-transform: uppercase;
		background: $dark-blue url(../images/menu-btn.png) 10px 5px no-repeat;
		
	}
	
	.msearch a{
		background: url(../images/searchicon.png) no-repeat center center;
		text-indent: -9999px;
		padding:8px 10px 8px 40px;
		@include respond-to(tablet){
			background: url(../images/searchicon.png) no-repeat 8px 5px;
		    text-indent: 0px;

		}
		
	}
	
		.searchbox{
			display: none;
			width:100%;
			clear:both;
			
			#search_mini_form{
				padding:20px 10px;
				@include respond-to(tablet){
					padding:20px 15px;
				}
				.input-box{
					position: relative;
				}
				input{
					padding:5px;
					-webkit-appearance:none;
					border:1px solid $light-grey;
					height:35px;
					width:100%;
					box-sizing: border-box;
				}
				label{
					display:none;
					
				}
				button{
					background: url(../images/searchbtn.png) center center;
					border: 1px solid black;
					text-indent: -9999px;
					width:35px;
					height:35px;
					line-height:2.7em;
					float:none;
					padding: 0px;
					display: inline-block;
					top:0px;
					right:0px;
					position: absolute;
					
				}
			}
		}
	
	.my-account a{
		background: url(../images/account-icon.png) no-repeat center center;
		text-indent: -9999px;
		padding:8px 10px 8px 40px;
		@include respond-to(tablet){
			background: url(../images/account-icon.png) no-repeat 8px 5px;
		    text-indent: 0px;
		}
	}
	.your-bag a{
		background: url(../images/bag-icon.png) no-repeat center center;
		text-indent: -9999px;
		margin-right:0px;
		padding:8px 10px 8px 40px;
		@include respond-to(tablet){
			background: url(../images/bag-icon.png) no-repeat 8px 5px;
		    text-indent: 0px;
		}
	}
	
	@include respond-to(desktop){
		display:none;
	}
}

#mobile-menu-container{
background: $dark-blue;
border:none;
	ol{
		list-style: none;
		
		li{			
			a{
				background: $dark-blue url(../images/nav-side-arrow.png) no-repeat 95% 50%;
				color:white;
				text-align: left;
				width:100%;
				display: block;
				text-transform:capitalize;
				padding:10px 20px;
				border-bottom: 1px solid #4f5c72;
				font-size: 0.9em;
			}
		}
	}
}
.breadcrumbs:after{
	content:"";
	clear:both;
	display: block;
}


.breadcrumbs{
	padding: 0px 15px;
	display: block;
	margin-bottom: 20px;
	
	@include respond-to(desktop){
		@include col(100%,15px,15px);
	}
	
	ul{
		:after{
			content: "";
			clear:both;
		}
		
		list-style: none;
		margin:0;
		padding: 0;
		clear:both;
		li{
			font-size: 0.85em;
			float:left;
			a{
			}
			span{
				color:$link-color;
				display: inline-block;
				padding:0px 5px; 
				font-size: 1.1em;
			}
		}
	}
}
