/* PRODUCT LIST */

.category-title{
	text-align: center;
	margin:20px;
}
.col-left{
	.block-layered-nav{
		background: $bg-grey;
		padding:0px 10px;
		@include respond-to(desktop){
			padding:0px 15px;
			background:none;
		}
		font-size: 16px;
			.block-title{
				padding:10px 20px;
				background: $blue url(../images/refine-by-arrow.png) no-repeat 98% 50%;
				@include respond-to(desktop){
					background: $blue;
					background-image: none;
				}
				color:white;
				font-family: $serif;
				font-size: 1.125em;
			}
			.block-title.open{
				background: $blue url(../images/arrow-down-shop-by.png) no-repeat 98% 50%;
				@include respond-to(desktop){
					background: $blue;
					background-image: none;
				}
			}
			.block-content {
				display:none;
				padding:10px 20px;
				@include respond-to(desktop){
					display: block;
					padding:0px;
					background: none;
				}
			}
			
			.block-subtitle{
				display: none;
			}
		
		ul{
			list-style: none;
		}
		
		#narrow-by-list{
			font-size: 0.8125em;
			list-style: none;
			ol{
				li{
				list-style: none;
				}
			}
			
			dt{
				padding:0px 0px 20px;
				list-style: none;
				text-transform: uppercase;
				color:$text-color;
			}
			dd{
				list-style: none;
			}
			.filter_section{
				padding: 20px;
				background: $bg-grey;
				margin-bottom:5px;
				color:$blue;
				
				
				@include respond-to(desktop){
					display: block;
					
			     }
			     
			     a{
				     margin-bottom:5px;
			     }
				
				.count{
					display: inline-block;
					padding:0px 5px;
					color:$text-color;
				}
				
				.filter_section{
					padding: 0px;
					background: $bg-grey;
					margin-botton:0px;
					
					
					@include respond-to(desktop){
					
					}
				}
			}
			
			.check-box{
				
			}
			
			
			
		}
	}
}


.toolbar{
	//display:none;
	clear:both;
	width:100%;
	font-size: 0.8em;
	padding:0px 15px;
	
	.view-mode{
	
		a{
			text-align: left;
			text-indent: -9999px;
		}
		strong{
			text-align: left;
			text-indent: -9999px;
		}
		.grid{
			background: url(../images/grids.png) -8px -8px no-repeat;
			margin:0px 2px 0px 5px;
			width:25px;
			height: 25px;
			text-indent: -9999px;
			display: inline-block;
			top:-2px;
			position: relative;
		}
		strong.grid{
			background: url(../images/grids.png) -8px -50px no-repeat;
		}
		.list{
			background: url(../images/grids.png) -41px -8px  no-repeat;
			margin:0px 2px;
			width:25px;
			height: 25px;
			text-indent: -9999px;
			display: inline-block;
			top:-2px;
			position: relative;
		}
		strong.list{
			background: url(../images/grids.png) -41px -50px  no-repeat;
		}
		.grid-list{
			background: url(../images/grids.png) -74px -8px no-repeat;
			margin:0px 2px;
			width:25px;
			height: 25px;
			text-indent: -9999px;
			display: inline-block;
			top:-2px;
			position: relative;
		}
		strong.grid-list{
			background: url(../images/grids.png) -74px -50px  no-repeat;
		}
	}
	
	.pager{
		float:left;
		width:65%;
		
		.limiter{
			float: left;
			width:50%;
			@include respond-to(tablet){
				width:25%;
			}
		}
		
		.pages{
			float: left;
			width:50%;
			
			strong{
				display: none;
				
				
			}
			ol{
					list-style: none;
					padding:0px;
					margin: 0px;
					
					li{
						display: block;
						float:left;
						width:18px;
						height:18px;
						background: $blue;
						color:white;
						margin:0px 2px;
						text-align: center;
						padding:0px;
						
						
						a{
							color:white;
						}
					}
					.current{
						background: $dark-blue;
					}
				}
		}
	}
	
	.sorter{
		display: none;
		text-align: right;
		width:35%;
		float:right;
		
		@include respond-to(tablet){
			display:block;
		}	
		
		.view-mode{
			float:left;
			width:50%;
		}
		.sort-by{
			float:left;
			width:50%;
			
			select{
				margin:0px 0px 0px 5px;
			}
		}
		.v-middle{
			display:none;
		}
	}
}

.toolbar-bottom{
	.view-mode{
		display: none
	}
	.sort-by{
		display: none;
	}
}

.products-grid{
	clear:both;
	margin: 0px;
	padding:0px;
	text-align: center;
	
	.item{
		list-style: none;
		font-size: 0.8em;
		padding:0px 10px;
		padding-bottom:60px;
		
		
		@include respond-to(tablet){
			@include col(33.3%,15px,15px);
		}
		
		.view-button{
			display: none;
		}
		
		.product-image{
			border-right:1px solid $light-grey;
			border-top:1px solid $light-grey;
			border-bottom:1px solid $light-grey;
			border-left:1px solid $light-grey;
			
			display: block;
			width:100%;
			overflow: hidden;
			
			img{
				width:100%;
			}
		}
		
		
		
		.product-name{
			font-size: 16px;
			padding:20px 20px 0px 20px;
			a{
				color:$text-color;
				font-size: 0.8125em;
				font-family:$sans-serif;
			}
		}
		
		
		.availability{
			font-size: 1.1em;
		}
		
		.price-box{
			font-size: 16px;
			.price{
				font-size:0.875em;
			}
			.old-price{
				display: inline-block;
				padding:0px 2px;
				.price-label{
					display: none;
				}
				.price{
					text-decoration: line-through;
				}
			}
			.special-price{
				display: inline-block;
				padding:0px 2px;
				.price-label{
					display: none;
				}
				.price{
					color:$red;
				}
			}
		}
		
		
		.new-in{
			background: url(../images/new-in.png);
			width: 83px;
			height:83px;
			position: absolute;
			top:20px;
			left:20px;
			z-index: 9999;
		}
		
		.on-sale{
			background: url(../images/sale.png);
			width: 83px;
			height:83px;
			position: absolute;
			top:20px;
			left:20px;
			z-index: 9999;
		}
	}
	
	
}

.products-grid-max-3-col{
	.item{
		@include respond-to(tablet){
			@include col(33.3%,15px,15px);
		}
	}
}

.products-grid-max-2-col{
	.item{
		@include respond-to(tablet){
			@include col(50%,15px,15px);
		}
	}
}

.products-grid-max-4-col{
	.item{
		@include respond-to(tablet){
			@include col(25%,15px,15px);
		}
	}
}

.amshopby-filters-left{
	.from{
		@include col(40%,0px, 10px);
		
	}
	.to{
		@include col(40%,0px, 10px);
		
	}
	.submit{
		@include col(20%,0px, 0px);
		padding-top:20px;
	}
}
#amshopby-price-url{
	
}
#amshopby-price-from{
	width:100%;
	padding:5px 10px;
	margin-top: 8px;
}
#amshopby-price-to{
	width:100%;
	padding:5px 10px;
	margin-top: 8px;
}

#amshopby-price-btn{
	width:50px;
	padding:5px 10px;
	background: white;
	border-color: black;
	text-transform: uppercase;
	color:$text-color;
}

.amshopby-attr{
	padding-right:10px;
	display: inline-block;
}


.products-grid{

	.item.last:after{
		content:"";
		clear:both;
		display: block;
		
	}

	.item.hover{
		
		float:left;
		position:relative;
		
		.clear{
			float:left;
		}
		
		.container{
			border:1px solid $blue;
			position: absolute;
			background: white;
			z-index: 9999;
		}
		
		.product-image{
			border:none;
		}
		
		.view-button{
			display:block;
			background: $blue;
			padding:12px 15px;
			margin:15px;
			color: white;
			text-transform: uppercase;
			font-size: 1em;
			
		}
	}
}

.footer-promos{
	display:none;
	width:100%;
	clear:both;
	float:left;
	padding: 0px 15px;
	@include respond-to(desktop) {
		display: block;
	}
	
	.two-square{
		    @include col(100%,0px,0px);
			@include respond-to(tablet) {
				@include col(25%,15px,15px);
			}
				
			img{
				width: 100%;
			}
			
			
	}
		
	
	
}

.block-compare{
	display: none;
}