.catalog-product-view{
	.col-main{
		clear:both;
	}
	
	
}

.product-view{
	position: relative;
}

.our-promise{
	position: relative;
	float:left;
	width:100%;
	margin-bottom: 20px;
	
	
	@include respond-to(desktop){
		
		@include col(15%,10px,10px);
		float:right;
		
		
	}
	
	.border{
		background: #ecf1f5;
		padding:5px;
		
				
		.content{
			background: #f1f5f8;
			border:1px solid white;
			padding:10px;
			text-align: center;
			font-family: $serif;
			text-transform: uppercase;
			line-height: 1.2em;
			font-size: 0.9em;
			
			p{
				padding-bottom: 40px;
			}
			
			a{
				text-transform: none;
					
			}
			
			h2{
				line-height: 1.2em;
				margin-bottom: 20px;
				padding: 10px 20px;
			}
			h2:after{
				content:"";
				display: block;
				width:100%;
				height:20px;
				border-bottom: 1px solid $text-color;
				
				
			}
			
			@include respond-to(desktop){
				min-height:400px;
			}
			

		}
	}
}

.our-promise:after{
	content:"";
	clear:both;
	display: block;
}
	
.product-essential{
	@include col(100%,10px,10px);
	
	@include respond-to(desktop){
		@include col(85%,15px,15px);
	} 
	
	.contact{
		padding:10px 0px;
		float:left;
		font-size: 0.93em;
	}
	
	.product-img-box{
		@include respond-to(tablet){
			@include col(50%,0px,20px);
		}
		
		.social{
			float:left;
			text-transform: uppercase;
			width:100%;
			ul{
				list-style: none;
				float:left;
				padding:20px 0px;
			}
			li{
				float:left;
				padding:0px 5px;
				line-height: 2em;
				a{
					display: inline-block;
					
				}
			}
			
			.facebook{
				a{
					background: url(../images/facebook.png) no-repeat;
					text-indent: -9999px;
					width:20px;
					height:25px;
				}
			}
			
			.twitter{
				a{
				background: url(../images/twitter.png) no-repeat;
				text-indent: -9999px;
				width:20px;
				height:25px;
				}
			}
			
			.googleplus{
				a{
				background: url(../images/google.png) no-repeat;
				text-indent: -9999px;
				width:20px;
				height:25px;
				}
			}
			
			.pinterest{
				a{
				background: url(../images/pinterest.png) no-repeat;
				text-indent: -9999px;
				width:20px;
				height:25px;
				}
			}
			.instagram{
				a{
				background: url(../images/instagram.png) no-repeat;
				text-indent: -9999px;
				width:20px;
				height:25px;
				}
			}
			
			.social ul:after{
				content:"";
				clear:both;
				display: block;
			}


			
		}
		
		.product-image{
			border:1px solid $light-grey;
			width:100%;
			position: relative;
			min-height: 300px;
			.product-image-gallery{
				position: relative;
				
				.gallery-image{
					display: none;
				}
				
				.gallery-image.visible{
					display: block;
				}
			}
			img{
				max-width: 100%;
				max-height: 750px;
				margin: 0px auto;
			}
		}
		
		.more-views{
			clear:both;
			padding-bottom: 15px;
			h2{
				display: none;
			}
			ul{
				list-style: none;
				margin-top:20px;
				li{
					float:left;
					width:25%;
					margin:0px 10px 0px 0px;
					border:1px solid $light-grey;
					img{
						width: 100%;
					}
				}
			}
		}
		.more-views:after{
			clear:both;
			content:"";
			display: block;
		}
	}
	
	.product-shop{
		@include respond-to(tablet){
			@include col(50%,10px,10px);
		}
		
		.price-box{
			font-size: 16px;
			.price{
				font-size:0.875em;
			}
			.old-price{
				display: inline-block;
				padding:0px 2px;
				.price-label{
					display: none;
				}
				.price{
					text-decoration: line-through;
				}
			}
			.special-price{
				display: inline-block;
				padding:0px 2px;
				.price-label{
					display: none;
				}
				.price{
					color:$red;
				}
			}
		}
		
		.in-stock{
			
			.label{
				display: none;
			}
			.value{
				background: url(../images/availability.png) no-repeat left center;
				padding:0px 0px 0px 15px;
			}
		}
		
		h1{
			color: $dark-blue;
			font-size: 1.282em;
			font-family: $sans-serif;
		}
		
		.price-info{
			padding:10px 0px;
			.price{
				color: $dark-blue;
				font-family: $sans-serif;
				font-size: 1.5em;
			}
		}
		
		
	}
	
	.add-to-cart-wrapper{
		margin-top:10px;
		
		@include respond-to(tablet){

		}
	}
	.add-to-cart-wrapper:after{
		content: "";
		display: block;
		clear:both;
	}
	
	.qty-wrapper{
		margin-bottom: 10px;
		color:$dark-blue;
		font-size: 0.9em;
		label{
			width:34px;
			display: inline-block	
		}
	}
	
	.add-to-cart-buttons{
			
			.btn-cart{
				background: $dark-blue;
				border:1px solid $dark-blue;
				width:100%;
				padding:10px 30px;
				color:white;
				text-transform: uppercase;
				font-weight: normal;
				font-size: 1.13em;
			}
     }
     
     .add-to-cart{
	     
	     @include respond-to(desktop){
		     @include col(50%,0px,10px)
	     }
     }
     .add-to-links{
	    @include respond-to(desktop){
		     @include col(50%,0px,0px)
	    }
	    
	    padding:40px 0px 0px;
	    
		li{
			list-style: none;
		}
		
		.separator{
			display: none;
		}
	    
	    .link-wishlist{
		     background: url(../images/wishlist-heart.png) left center no-repeat;
		     padding-left:20px;
		     text-transform: uppercase;
		     font-size: 0.8em;
		     line-height: 1.8em;
		     display: inline-block;
		     height:15px;
	    }
	    
	    .link-compare{
		    display: none;
	    }
	    
	    
     }
     .sharing-links{
     	float: left;
     	padding:0px;
	     
	    .link-email-friend{
		    background: url(../images/mail-icon.png) left center no-repeat;
			padding-left:20px;
			text-transform: uppercase;
			font-size: 0.8em;
			line-height: 1.8em;
			display: inline-block;
			height:15px;
	    }
     }
}
.product-options{
	margin:10px 0px;
	p.required{
		display: none;
	} 
	dt{
		width:34px;
		float:left;
	}
}

.product-options-bottom{
	.price{
		display: none;
	}
	
	
}



.or{
		display: none;
	}

.sharing-links{
	li{
		list-style: none;
	}
}
.product-collateral{
	margin-bottom:20px;
	
	@include col(100%,0px ,0px);

	@include respond-to(desktop){
		
	}
	
	

	.toggle-tabs{
		display:none;
		padding: 10px;
		li{
			border:1px solid $light-grey;
			padding:5px 20px;
			width:100%;
			display: block;
			cursor: pointer;
			
		}
	}
	

	
	.accordion{
		padding: 10px 0px;
		dt{
			border:1px solid $light-grey;
			padding:5px 10px;
			width:100%;
			display: block;
			cursor: pointer;
			background: $bg-grey;
		}
		
		dt, dd {
	      a {
	        display: block;
	        color: black;
	        font-weight: bold;
	        text-transform: uppercase;
	        font-size: 0.875em;
	      }
		   }
		  dd {
		  	 border:1px solid $light-grey;
		    // border-top: 0; 
		     padding:20px 10px;;
		     font-size: 1em;
		     
		     ul{
			     padding:15px;
		     }
		    
		  }
		  
		  .spec_table{
			  width: 100%;
			  
			  td{
				  border-bottom: 1px solid $light-grey;
				  padding:3px 0px;
			  }
			  tr{
				  border-bottom: 1px solid $light-grey;
			  }
			  
			  .tooltip{
				  text-align: right;
				  position: relative;
				  .tooltip-link{
				  	background: url(../images/question-icon.png);
				  	display: inline-block;
				  	width:18px;
				  	height: 19px;
				  }
				  
				  .tooltip-desc{
				  	  background: white;
					  border:1px solid $light-grey;
					  padding:15px;
					  position: absolute;
					  display: none;
					  z-index: 9999;
					  width:200px;
					  right:0px;
				  }
			  }
		  }
	}
}

.block-viewed{
	position: relative;
	clear:both;
	padding-top:20px;
	border-top:1px solid $light-grey;
	
	.block-title{
		background: none;
		text-align: center;
		strong{
			span{
				font-family: $serif;
				font-weight: 200;
				color:$text-color;
				font-size: 1.3em;
			}
		}
	}
	.block-content{
		position: relative;
		background:none;
		display: table;
		margin:0 auto;
		
	}
	#recently-viewed-items{
		
		list-style: none;
		
		li{
			float:left;
			display: inline;
			
			.product-name{
				display: none;
			}
			
			img{
				border: 1px solid $light-grey;
				padding:5px;
				margin:0px 5px;
			}
		}
	}
}

.clearer{
	clear:both;
}

.box-up-sell{
	position: relative;
	@include respond-to(tablet){
		@include col(50%,10px,10px);
	}
	
	h2{
		text-transform: uppercase;
		text-align: center;
		font-size: 1.125em;
	}
	
	.content{
		padding: 15px 30px;
	}

	.up-next-link{
		background: url(../images/right-arrow-simple.png) no-repeat;
		position:absolute;
		top:35%;
		right:25px;
		width:12px;
		height:50px;
		display: block;
		text-indent: -9999px;
		
	}
	.up-prev-link{
		background: url(../images/left-arrow-simple.png) no-repeat;
		position:absolute;
		top:35%;
		left:25px;
		width:12px;
		height:50px;
		display: block;
		text-indent: -9999px;
	}

	ol{
		list-style: none;
		li{
			float:left;
			width:50%;
			padding:0px 15px;
			text-align: center;
			
			.product-image{
				border-right:1px solid $light-grey;
				border-top:1px solid $light-grey;
				border-bottom:1px solid $light-grey;
				border-left:1px solid $light-grey;
				
				display: block;
				width:100%;
				overflow: hidden;
				
				img{
					width:100%;
				}
			}
		
		
		
			.product-name{
				font-size: 16px;
				padding:20px 20px 0px 20px;
				a{
					color:$text-color;
					font-size: 0.8125em;
					font-family:$sans-serif;
				}
			}
			
			.availability{
			font-size: 1.1em;
		}
		
		.price-box{
			font-size: 16px;
			.price{
				font-size:0.875em;
			}
			.old-price{
				display: inline-block;
				padding:0px 2px;
				.price-label{
					display: none;
				}
				.price{
					text-decoration: line-through;
				}
			}
			.special-price{
				display: inline-block;
				padding:0px 2px;
				.price-label{
					display: none;
				}
				.price{
					color:$red;
				}
			}
		}
		}
	}
}

.block-related{
    position: relative;
	margin-bottom: 40px;
	
	@include respond-to(tablet){
		@include col(50%,10px,10px);
	}
	
	.block-content{
		padding:15px 30px;
	}
	
	h2{
		text-transform: uppercase;
		text-align: center;
		font-size: 1.125em;
	}
	
	.rel-next-link{
		background: url(../images/right-arrow-simple.png) no-repeat;
		position:absolute;
		top:35%;
		right:25px;
		width:12px;
		height:50px;
		display: block;
		text-indent: -9999px;
		
	}
	.rel-prev-link{
		background: url(../images/left-arrow-simple.png) no-repeat;
		position:absolute;
		top:35%;
		left:25px;
		width:12px;
		height:50px;
		display: block;
		text-indent: -9999px;
	}
	
	ol{
		list-style: none;
		text-align: center;
		li{
			float:left;
			width:50%;
			padding:0px 15px;
			text-align: center;
			
			.product-image{
				border-right:1px solid $light-grey;
				border-top:1px solid $light-grey;
				border-bottom:1px solid $light-grey;
				border-left:1px solid $light-grey;
				
				display: block;
				width:100%;
				overflow: hidden;
				
				img{
					width:100%;
				}
			}
		
		
		
			.product-name{
				font-size: 16px;
				padding:20px 20px 0px 20px;
				a{
					color:$text-color;
					font-size: 0.8125em;
					font-family:$sans-serif;
				}
			}
			
			.availability{
			font-size: 1.1em;
		}
		
		.price-box{
			font-size: 16px;
			.price{
				font-size:0.875em;
			}
			.old-price{
				display: inline-block;
				padding:0px 2px;
				.price-label{
					display: none;
				}
				.price{
					text-decoration: line-through;
				}
			}
			.special-price{
				display: inline-block;
				padding:0px 2px;
				.price-label{
					display: none;
				}
				.price{
					color:$red;
				}
			}
		}
		}
	}

}


.grouped-items-table{
	width: 100%;
	.qty-wrapper{
		input{
			width:50px;
		}
	}
}

.grouped-product{
	.product-essential {
		.add-to-links{
			padding: 0px;
		}
	}
}