/* PRODUCT LIST */

.category-title{
	text-align: center;
	margin:20px;
}

.block-layered-nav{
	background: $bg-grey;
	@include respond-to(desktop){
		background:none;
	}
	font-size: 16px;
	
	.block-title{
		padding:10px 20px;
		background: $blue url(../images/refine-by-arrow.png) no-repeat 98% 50%;
		@include respond-to(desktop){
			background: $blue;
			background-image: none;
		}
		color:white;
		font-family: $serif;
		font-size: 1.125em;
	}
	.block-title.open{
		background: $blue url(../images/arrow-down-shop-by.png) no-repeat 98% 50%;
		@include respond-to(desktop){
			background: $blue;
			background-image: none;
		}
	}
	.block-content {
		display:none;
		padding:10px 20px;
		@include respond-to(desktop){
			display: block;
			padding:0px 0px;
		}
	}
	
	.block-subtitle{
		display: none;
	}
	
	ul{
		list-style: none;
	}
	
	#narrow-by-list{
		font-size: 0.8125em;
		list-style: none;
		ol{
			li{
			list-style: none;
			}
		}
		
		dt{
			padding:0px 0px 20px;
			list-style: none;
			text-transform: uppercase;
			color:$text-color;
		}
		dd{
			list-style: none;
		}
		.filter_section{
			background: $bg-grey;
			margin-bottom:20px;
			color:$blue;
			
			@include respond-to(desktop){
				display: block;
				padding:10px 10px;
				
		     }
			
			.count{
				display: inline-block;
				padding:0px 5px;
				color:$text-color;
			}
			
			.filter_section{
				padding: 0px;
				margin: 0px;
			}
		}
		
		.check-box{
			
		}
		
		input[type="checkbox"] {
		    display:none;
		}
		input[type="checkbox"] + label span {
		    display:inline-block;
		    width:19px;
		    height:19px;
		    background:url(../images/checkbox.png) left top no-repeat;
		}
		input[type="checkbox"]:checked + label span {
		    background:url(../images/checkbox.png) -19px top no-repeat;
		}
		
	}
}



.toolbar{
	//display:none;
	clear:both;
	width:100%;
	font-size: 0.8em;
	
	.view-mode{
		.grid{
			background: url(../images/grid.png) no-repeat;
			margin:0px 5px;
			width:25px;
			height: 25px;
			text-indent: -99999px;
			display: inline-block;
			top:-2px;
			position: relative;
		}
		.list{
			background: url(../images/list.png) no-repeat;
			margin:0px 5px;
			width:25px;
			height: 25px;
			text-indent: -99999px;
			display: inline-block;
			top:-2px;
			position: relative;
		}
		.grid-list{
			background: url(../images/grid-list.png) no-repeat;
			margin:0px 5px;
			width:25px;
			height: 25px;
			text-indent: -99999px;
			display: inline-block;
			top:-2px;
			position: relative;
		}
	}
	
	.pager{
		float:left;
		width:50%
	}
	
	.sorter{
		text-align: right;
		width:50%;
		float:right;	
		
		.view-mode{
			float:left;
			width:50%;
		}
		.sort-by{
			float:left;
			width:50%;
		}
		.v-middle{
			display:none;
		}
	}
}

.toolbar-bottom{
	.view-mode{
		display: none
	}
	.sort-by{
		display: none;
	}
}

.products-grid{
	clear:both;
	margin: 0px;
	padding:0px;
	text-align: center;
	
	.item{
		list-style: none;
		font-size: 0.8em;
		padding-bottom:20px;
		@include respond-to(tablet){
			@include col(33.3%,0px,0px);
		}
		
		.product-image{
			border-left:1px solid $light-grey;
			border-top:1px solid $light-grey;
			border-bottom:1px solid $light-grey;
			display: block;
			width:100%;
			overflow: hidden;
			
			img{
				width:100%;
			}
		}
		
		.product-image:nth-child(3n+3){
			border-right:1px solid $light-grey;
			background: green;
		}
		
		.product-name{
			font-size: 16px;
			padding:20px 20px 0px 20px;
			a{
				color:$text-color;
				font-size: 0.8125em;
				font-family:$sans-serif;
			}
		}
		
		
		.price-box{
			font-size: 16px;
			.price{
				font-size:0.875em;
			}
			.old-price{
				display: inline-block;
				padding:0px 2px;
				.price-label{
					display: none;
				}
				.price{
					text-decoration: line-through;
				}
			}
			.special-price{
				display: inline-block;
				padding:0px 2px;
				.price-label{
					display: none;
				}
				.price{
					color:$red;
				}
			}
		}
	}
	.item.last{
		.product-image{
			border-right: 1px solid $light-grey;
		}
	}
	
	.item:last-child{
		.product-image{
			border-right: 1px solid $light-grey;
		}
	}
	
}

.products-grid-max-3-col{
	.item{
		@include respond-to(tablet){
			@include col(33.3,0px,0px);
		}
	}
}

.products-grid-max-4-col{
	.item{
		@include respond-to(tablet){
			@include col(25%,0px,0px);
		}
	}
}

.amshopby-filters-left{
	.from{
		@include col(40%,0px, 10px);
	}
	.to{
		@include col(40%,0px, 10px);
	}
	.submit{
		@include col(40%,0px, 0px);
	}
}
#amshopby-price-url{
	
}
#amshopby-price-from{
	width:100%;
	padding:5px 10px;
}
#amshopby-price-to{
	width:100%;
	padding:5px 10px;
}