$break-small: 39.43em;
$break-medium: 64em;
$break-large:73em;

$blue:#7592ab;
$light-blue:#7592ab;
$dark-blue:#3f4559;
$light-grey:#e8e7e7;
$bg-grey:#fafafa;
$text-color:#393c50;
$link-color:#7592ab;
$nav-color:#535667;
$red:#c35d60;